@page "/ForTestingPurpose"
@using System.IO
@inject HttpClient http;

@using Syncfusion.Blazor.DropDowns;
@using CCM_New.Shared;

@using Syncfusion.Blazor.Inputs

@if (comboCarriers.Length == 0)
{<p>Loading..</p> }
else
{

    @*<SfComboBox TValue="int" TItem="TblCarriers" AllowFiltering=true Placeholder="Select a carrier" DataSource="@comboCarriers" @bind-Value="@zmWartoscPola">
                <ComboBoxEvents TValue="string" ValueChange="onChangeCarrier"></ComboBoxEvents>
                <ComboBoxFieldSettings Value="Id" Text="FullComboName"></ComboBoxFieldSettings>
        </SfComboBox>*@

<SfComboBox TValue="string" TItem="TblCarriers" Placeholder="Select a game" DataSource="@comboCarriers" @bind-Value="@zmWartoscPola">
    <ComboBoxEvents TValue="string" ValueChange="onChangeCarrier"></ComboBoxEvents>
    <ComboBoxFieldSettings Text="FullComboName" Value="Id"></ComboBoxFieldSettings>
</SfComboBox>

}
<style>
</style>


@code {


    public TblCarriers[] comboCarriers = { };
    // List<TblCarriers> comboCarriersList = new List<TblCarriers>();
    public string zCarrierID = "";
    public string zmWartoscPola = "112";

    protected override async Task OnParametersSetAsync()
    {
        string linkCar = "/api/TblCarriers/";
        comboCarriers = await http.GetFromJsonAsync<TblCarriers[]>(linkCar);
        // comboCarriersList = new List<TblCarriers>(comboCarriers);

    }

    private void onChangeCarrier(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string> args)
    {
        Console.WriteLine("Combi currier " + args.Value);
        Console.WriteLine("Combi currier " + zmWartoscPola.ToString());
        zCarrierID = args.Value;
        StateHasChanged();
    }

}