@page "/"
@using CCM_New.Client.Tool; 

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">CCM TOOL</h1>
        <p class="lead">Claim system  </p>
    </div>
    
</div>

@code {
 
}